.App {
  text-align: center;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.around_articles {
  background-color: blanchedalmond;
  margin-top: 20px!important;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2% !important;
  padding-right: 2% !important;
  border-radius: 10px;
}

.nbArticle{
  font-size: small;
  margin-bottom: 0 !important;
}

.card-body{
  padding: 0rem 0rem !important;
}

.panel {
  background-color: blanchedalmond;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 300px;
  padding-left: 2% !important;
  padding-right: 2% !important;
  border-radius: 10px;
  box-sizing: content-box;
  position: sticky;
  width: 15%;
  top: 20%;
  align-self: start;

}

.search-bar{
  margin-left: 50px;
}


.contain_article {
  margin-top: -328px;
}

.dropdown_search {
  background-color: blanchedalmond !important;
  border-color: blanchedalmond !important;
  box-shadow: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}